@charset "UTF-8";
/*------------------------------------*\
    #UTILS - Color Variables
\*------------------------------------*/
.text-center {
  text-align: center !important; }

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.center {
  margin: 0 auto !important; }

.pos-relative {
  position: relative !important; }

.pos-absolute {
  position: absolute !important; }

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none; }

/* Page Loader */
.js .loading::before {
  content: '';
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #7f40f1; }

.js .loading::after {
  content: '';
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  pointer-events: none;
  background: #fff;
  animation: loaderAnim 0.8s ease-out infinite alternate forwards; }

@keyframes loaderAnim {
  to {
    transform: translate3d(0, -100px, 0); } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-color: #fafafa; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/
body {
  font-size: 14px; }
  @media (min-width: 768px) {
    body {
      font-size: 16px; } }

/*------------------------------------*\
    # Type
\*------------------------------------*/
*, html, body {
  font-size: 16px;
  font-family: "ITC Avant Garde Gothic Pro", "itc-avant-garde-gothic-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 24px 0;
  color: #000000;
  font-family: "ITC Avant Garde Gothic Pro", "itc-avant-garde-gothic-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.333em;
  font-weight: 400;
  text-align: left; }

h1 {
  font-size: 2rem;
  font-family: "ITC Avant Garde Gothic Pro", "itc-avant-garde-gothic-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  color: #ffffff; }
  @media (min-width: 768px) {
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 53px; } }

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.45px;
  text-align: left;
  max-width: 630px;
  color: #FFFFFF;
  word-spacing: -2px; }
  @media (min-width: 768px) {
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 60px;
      letter-spacing: -0.45px;
      text-align: left;
      max-width: 630px;
      color: #FFFFFF;
      word-spacing: -2px; } }

h3 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.125rem;
  font-size: 1.5rem;
  letter-spacing: 0.02em;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: #000000; }

h4 {
  font-family: "ITC Avant Garde Gothic Pro", "itc-avant-garde-gothic-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 1.76471rem;
  font-style: normal;
  font-weight: 300;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  color: #000000; }
  @media (min-width: 768px) {
    h4 {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 28px;
      color: #110F0F; } }

h5 {
  font-size: 1.66667rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.375rem;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.01em; }

h6 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #7B929E; }

h6.section-label {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.5px;
  margin-bottom: 35px;
  color: #3B3B3C; }

p {
  margin-top: 20px;
  font-size: 1.0625rem;
  line-height: 1.5em;
  color: #505050;
  font-family: "ITC Avant Garde Gothic Pro", "itc-avant-garde-gothic-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 26px;
  font-size: 14px;
  color: #404040;
  max-width: 350px; }
  p:first-of-type {
    margin-top: 0; }

p.lead {
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  font-size: 16px;
  color: #383838; }

p.special {
  font-family: "ITC Avant Garde Gothic Pro", "itc-avant-garde-gothic-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-style: italic;
  font-weight: normal;
  line-height: 23px;
  font-size: 14px;
  color: #000000; }

a {
  font-family: "ITC Avant Garde Gothic Pro", "itc-avant-garde-gothic-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  a:hover {
    color: #e6e6e6; }

ul, ol {
  margin: 0; }
  ul li, ol li {
    margin-right: 10px;
    line-height: 1.5em;
    color: #505050; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0; }

ul li {
  list-style: none; }

ul ul li {
  list-style: none; }

ol li {
  list-style: none; }

hr {
  height: 1px;
  margin: 30px 0;
  border: none;
  background-color: #DADADA; }

blockquote {
  margin: 30px 0;
  font-size: 1.75rem;
  line-height: 1.5em;
  color: #212121;
  text-align: center;
  font-style: normal !important; }

table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse; }

table, td, th {
  border: 1px solid #DADADA;
  text-align: left; }

th {
  font-weight: 800; }

th, td {
  padding: 15px; }

figure {
  margin: 30px 0; }
  figure img {
    margin: 0; }

figcaption {
  margin-top: 10px;
  color: #6a6a6a;
  font-size: 16px; }

pre {
  display: block;
  margin: 0 0 40px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #DADADA;
  overflow: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  pre code {
    position: static;
    padding: 0;
    border: none;
    line-height: 1.5em; }

code {
  position: relative;
  top: -0.2em;
  padding: 3px;
  font-family: Courier New, Courier, monospace;
  font-size: 0.75893rem;
  color: #747474;
  line-height: 1em;
  pointer-events: none;
  border: 1px solid #DADADA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

em, i, .italic {
  font-style: italic; }

strong, b, .bold {
  font-weight: 800; }

img {
  display: block;
  max-width: 100%;
  margin: 0; }

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-0 {
  margin-left: 0; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem; }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-0 {
    margin-left: 0; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem; }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-0 {
    margin-left: 0; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 75em) {
  .container {
    width: 76rem; }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-0 {
    margin-left: 0; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

header .flex-col-start h6, header h6 {
  color: #47525D;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 24px !important;
  color: #47525D; }

.header--may {
  position: relative; }
  .header--may .freelance {
    display: none;
    position: fixed;
    bottom: 160px;
    left: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: white;
    font-weight: 900;
    transform: rotate(-90deg); }
    .header--may .freelance .slam {
      border-radius: 50px;
      padding: 12px 16px;
      background: #E9344A; }
    .header--may .freelance span {
      color: white;
      font-weight: 900; }
    @media (min-width: 768px) {
      .header--may .freelance {
        display: block;
        left: -80px; } }
    @media (min-width: 1024px) {
      .header--may .freelance {
        display: block;
        left: -60px; } }
    @media (min-width: 1200px) {
      .header--may .freelance {
        display: block;
        left: 40px; } }
  .header--may .time-zone {
    position: fixed;
    bottom: 100px;
    left: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #969696;
    transform: rotate(-90deg); }
    .header--may .time-zone span {
      color: white;
      font-weight: 900; }

header {
  padding-top: 100px;
  position: relative; }
  header .header-image {
    max-width: 90%;
    margin: 60px auto; }
    @media (min-width: 768px) {
      header .header-image {
        max-width: 70%;
        margin-top: 180px; } }
  header h1 {
    max-width: 315px;
    font-style: normal;
    font-size: 30px;
    line-height: 105%;
    /* or 42px */
    text-align: center;
    margin: 20px auto; }
    header h1 span {
      font-weight: 300;
      color: #878787; }
    @media (min-width: 768px) {
      header h1 {
        max-width: 425px;
        font-size: 40px;
        line-height: 105%;
        /* or 42px */ } }
  header .header-cta {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 105%;
    /* identical to box height, or 17px */
    text-align: center;
    text-align: center;
    color: #FA6D73;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-out; }
    header .header-cta .icon-follow {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -2px;
      transition: all 0.1s ease-out; }
    header .header-cta:hover .icon-follow {
      margin-left: 12px;
      transition: all 0.1s ease-out; }
  header .profile-thumb {
    max-width: 450px;
    margin: 150px 0;
    margin-left: 350px; }

footer {
  padding: 60px 20px;
  padding-bottom: 40px; }
  footer h2 {
    font-style: normal;
    font-weight: bold !important;
    max-width: 640px !important;
    font-size: 30px;
    line-height: 32px;
    /* or 94% */
    letter-spacing: -0.25px;
    color: #FFFFFF; }
  footer .footer-label {
    margin-bottom: 80px;
    color: white; }
  @media (min-width: 768px) {
    footer h2 {
      font-size: 64px;
      line-height: 60px;
      /* or 94% */ } }
  footer .footer-copy span {
    color: #FFC700;
    color: #167aff;
    color: #FF5A60;
    text-decoration: underline; }
  footer .footer-links {
    margin-top: 80px; }
    footer .footer-links h4 {
      margin-bottom: 10px;
      color: #FAFAFA;
      opacity: 0.5;
      font-weight: 500; }
    footer .footer-links ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0; }
      footer .footer-links ul li {
        margin: 0; }
        footer .footer-links ul li a {
          margin-right: 30px;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: normal;
          color: #FAFAFA; }
        footer .footer-links ul li:last-of-type a {
          margin-right: 0; }
  @media (min-width: 768px) {
    footer {
      padding: 120px 0; } }

button {
  border: none;
  transition: all 0.4s ease; }
  button:hover {
    cursor: pointer;
    transition: all 0.4s ease; }

.preloader {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: white; }
  .preloader .circle-loader {
    background: #000000;
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    transition: all 0.8s ease-out; }

.text-container {
  max-width: 80vw;
  font-size: 12vw;
  position: absolute;
  z-index: 2;
  font-family: ITC Avant Garde Gothic Std;
  font-style: italic;
  font-weight: bold;
  line-height: 0.85;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: center;
  color: #000100;
  margin-left: -0.5vw;
  padding-top: 1vw; }
  @media (min-width: 768px) {
    .text-container {
      font-size: 6vw;
      max-width: 40vw; } }

.small {
  background: #101318;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  transition: all .5s; }

.big {
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: 0;
  left: 0;
  margin-left: 0;
  border-radius: 0%; }

@keyframes ripple {
  0%, 35% {
    transform: scale(0);
    opacity: 1; }
  50% {
    transform: scale(1.5);
    opacity: 0.8; }
  100% {
    opacity: 1;
    transform: scale(100); } }

.small {
  animation: ripple 2.5s ease-in-out;
  animation-fill-mode: reverse; }

.nav {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px; }
  .nav .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    text-align: left; }
    .nav .left .current-activity {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: normal;
      color: #969696;
      display: flex;
      align-items: center; }
      .nav .left .current-activity span {
        font-weight: 900;
        color: white;
        margin: 0 6px; }
    .nav .left #currentActivityIcon {
      padding-top: 4px;
      max-width: 32px; }
    .nav .left #currentActivity {
      margin: 0; }
  .nav .nav-link.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;
    color: #FAFAFA; }
  .nav .nav-links a {
    color: #6d6d6d;
    mix-blend-mode: color-dodge; }
  .nav .nav-links-container {
    display: flex;
    align-items: center; }
    .nav .nav-links-container .nav-link {
      margin-right: 20px; }
      .nav .nav-links-container .nav-link a {
        color: #2F363F; }
  .nav .right {
    display: flex; }
    .nav .right a {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;
      color: #2F363F;
      transition: all 0.2s ease-in-out;
      line-height: 1; }
      .nav .right a span {
        margin: 0 8px;
        color: #2F363F; }
      .nav .right a .icon {
        margin-top: -2px; }
      .nav .right a span.lead-icon {
        margin-left: 0;
        margin-right: 0; }
      .nav .right a span.following-icon {
        margin-right: 0;
        margin-left: 8px; }
      .nav .right a svg, .nav .right a span {
        transition: all 0.1s ease-out; }
      .nav .right a .following-icon, .nav .right a .link-text {
        display: none; }
      .nav .right a:hover span {
        padding: 0 4px;
        padding-left: 0px;
        color: #38A1F3;
        transition: all 0.2s ease-out; }
      .nav .right a:hover svg {
        fill: #38A1F3;
        transition: all 0.2s ease-out; }
      .nav .right a:hover path {
        fill: #38A1F3;
        transition: all 0.2s ease-out; }
      .nav .right a:hover span.lead-icon {
        padding: 0; }
      @media (min-width: 768px) {
        .nav .right a .following-icon, .nav .right a .link-text {
          display: block; } }
  @media (min-width: 768px) {
    .nav {
      padding: 20px;
      top: 100px; }
      .nav .right a {
        display: flex; } }

.hamburger-nav .hamburger-menu {
  position: fixed;
  width: 48px;
  height: 48px;
  background: black;
  z-index: 21;
  border-radius: 100%;
  top: calc(50% - 24px);
  left: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px; }

.hamburger-nav .nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 20; }

/* Here is the animation (keyframes) */
@keyframes fading {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes hover {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }

@keyframes slam {
  0% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(3, 3, 3) translate3d(-50px, -10px, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
    background: #E9344A; }
  18% {
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.65);
    background: #FF4C24; }
  40% {
    transform: rotate3d(0, 0, 1, 1deg) scale3d(1.1, 1.1, 1.1) translate3d(-1px, -1px, 0);
    box-shadow: 0px 0px 100px 2px rgba(0, 0, 0, 0.45);
    background: #FFD600; }
  55% {
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0px, 0px, 0);
    background: #30BCE8; }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
    box-shadow: 0px 0px 125px 5px rgba(0, 0, 0, 0);
    background: #780EFF; } }

.slam {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.87, 0.58, 0.25, 1.29);
  transform-origin: center center;
  animation-name: slam; }

.anim-fade-in {
  opacity: 1 !important;
  transform: translateY(20px) !important;
  transition: opacity 0.2s ease-out, transform 0.2s !important; }

.anim-hover {
  animation: hover 6s ease-in-out infinite; }

#dontLeave {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: #0C0E12; }
  #dontLeave h1 {
    color: white;
    font-size: 14vmin !important;
    font-weight: 500 !important;
    letter-spacing: 2px !important; }
  #dontLeave h6 {
    position: absolute;
    bottom: 4vmin !important;
    margin: 5px !important; }
  #dontLeave h6.second {
    color: white !important;
    font-weight: 500 !important; }
  #dontLeave h6.first {
    bottom: 6vmax !important;
    color: #6B6D72 !important; }
  @media (min-width: 768px) {
    #dontLeave h6 {
      bottom: 4vmin !important; }
    #dontLeave h6.first {
      bottom: 7vmin !important; } }

::-moz-selection {
  background-color: none;
  color: #FF5A60; }

::selection {
  background-color: none;
  color: #FF5A60; }

#output .text-container {
  display: flex;
  flex-direction: column; }

#output .small {
  animation: ripple 5s infinite;
  animation-fill-mode: reverse; }

.body-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%; }

h2 {
  word-spacing: -2px; }

section {
  padding: 60px 0; }
  section h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF; }
  section .section-title {
    margin-bottom: 100px; }
  section .section-cta .btn--tertiary {
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    color: #3B3B3C; }
  section .section-list, section .section-list--mobile {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    display: none; }
    section .section-list li, section .section-list--mobile li {
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: #08090B;
      margin-bottom: 1px;
      transform: will-animate;
      box-shadow: will-animate;
      transition: all 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15); }
      section .section-list li a, section .section-list--mobile li a {
        padding: 10px; }
        @media (min-width: 768px) {
          section .section-list li a, section .section-list--mobile li a {
            padding: 40px; } }
      section .section-list li .list-cover-link, section .section-list--mobile li .list-cover-link {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center; }
        section .section-list li .list-cover-link .list-end span, section .section-list--mobile li .list-cover-link .list-end span {
          font-weight: 500;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 28px;
          text-align: right !important;
          color: #FAFAFA; }
      section .section-list li::after, section .section-list--mobile li::after {
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: opacity 0.3s ease-in-out; }
      section .section-list li:hover, section .section-list--mobile li:hover {
        transform: scale(1.05);
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.6);
        border-bottom: 1px solid transparent;
        cursor: pointer; }
        section .section-list li:hover .section-list li::after, section .section-list--mobile li:hover .section-list li::after {
          opacity: 1; }
        section .section-list li:hover .list-end span, section .section-list--mobile li:hover .list-end span {
          color: #FFC700; }
    section .section-list .list-start, section .section-list--mobile .list-start {
      flex: 2;
      display: flex;
      flex-direction: row;
      align-items: center; }
      section .section-list .list-start .icon, section .section-list--mobile .list-start .icon {
        margin-right: 20px;
        border-radius: 4px;
        border: 1px solid #1c1c1c; }
        section .section-list .list-start .icon img, section .section-list--mobile .list-start .icon img {
          margin-right: 0;
          object-fit: cover;
          width: 100%;
          height: auto; }
    section .section-list .list-middle, section .section-list--mobile .list-middle {
      flex: 5;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.25px;
      text-align: left;
      color: #FFFFFF; }
    section .section-list .list-end, section .section-list--mobile .list-end {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      section .section-list .list-end a, section .section-list--mobile .list-end a {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
        text-align: right !important;
        color: #FAFAFA; }
        section .section-list .list-end a:hover, section .section-list--mobile .list-end a:hover {
          color: #FFC700; }
    section .section-list .list-title, section .section-list--mobile .list-title {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: #FFFFFF; }
    @media (min-width: 768px) {
      section .section-list, section .section-list--mobile {
        display: flex; } }
  @media (min-width: 768px) {
    section {
      padding: 120px 0; } }

.blog ul {
  display: flex !important;
  width: 90% !important;
  max-width: 90% !important; }
  @media (min-width: 768px) {
    .blog ul {
      margin: none;
      width: 100% !important;
      max-width: 100% !important; } }

.blog li {
  margin-bottom: 2px; }

.blog .list-start {
  flex: 1 !important;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px; }
  @media (min-width: 768px) {
    .blog .list-start {
      width: 48px;
      height: 48px;
      min-width: 48px;
      min-height: 48px; } }

.blog .list-middle {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: normal !important;
  color: #FFFFFF; }
  @media (min-width: 768px) {
    .blog .list-middle {
      font-size: 18px; } }

.blog .list-end {
  display: none !important; }
  @media (min-width: 768px) {
    .blog .list-end {
      display: flex !important; } }

.clients {
  padding-bottom: 0; }
  .clients h6 {
    margin: 0 auto;
    align-self: center;
    text-align: center; }
  .clients .client-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .clients .client-list .client {
      margin-right: 24px;
      margin-bottom: 24px;
      max-width: 20%; }
  @media (min-width: 768px) {
    .clients .client-list .client {
      max-width: 120px;
      flex: 1;
      overflow: hidden; }
      .clients .client-list .client img {
        object-fit: contain;
        width: 100%;
        height: auto; } }

.ventures {
  padding-top: 250px; }
  .ventures__header {
    position: relative; }
    .ventures__header .section-label {
      margin: 0 auto;
      margin-bottom: 20px;
      width: 90%; }
    .ventures__header h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      /* or 100% */
      letter-spacing: -0.25px;
      max-width: 80%;
      color: #FFFFFF;
      max-width: 90%;
      margin: 0 auto;
      margin-bottom: 40px; }
    .ventures__header .venture-graphic {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 200px;
      transition: all 0.35s cubic-bezier(0.51, 0.92, 0.24, 1.15); }
      @media (min-width: 768px) {
        .ventures__header .venture-graphic {
          display: block; } }
  @media (min-width: 768px) {
    .ventures .section-label {
      margin: 0;
      margin-bottom: 40px; }
    .ventures__header .section-label {
      width: 100%;
      margin-bottom: 40px; }
    .ventures__header h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 60px;
      letter-spacing: -0.45px;
      text-align: left;
      max-width: 630px;
      color: #FFFFFF;
      margin: 0;
      margin-bottom: 100px; } }

.case-study {
  position: relative; }
  .case-study .cta-button {
    display: none;
    bottom: 40px;
    left: 46%;
    position: absolute;
    padding: 15px 30px;
    border-radius: 50px;
    z-index: 10;
    background: black;
    color: white;
    font-size: 14px;
    line-height: 1;
    padding-top: 18px;
    font-weight: 500;
    letter-spacing: -0.01em; }
  .case-study:hover .cta-button {
    display: block; }

.case-study h2.bolt-heading {
  margin-left: -4px; }
  .case-study h2.bolt-heading span {
    background: url(/assets/img/bolt-text-bg.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover; }

.case-study--stick {
  margin: 40px;
  background: #32AAFF;
  padding-bottom: 0;
  position: relative; }
  .case-study--stick:hover .cta-button {
    display: block; }
  .case-study--stick .prop {
    position: absolute;
    top: 30%;
    left: -10%;
    max-width: 300px;
    z-index: 3; }
    .case-study--stick .prop img {
      width: 100%;
      object-fit: cover;
      height: auto; }
  .case-study--stick .prop--2 {
    height: 350px;
    width: 350px;
    max-width: 600px;
    left: 85%;
    top: 55%; }
  .case-study--stick h6, .case-study--stick h4, .case-study--stick h2 {
    text-align: center;
    margin: 0 auto; }
  .case-study--stick h6 {
    margin-bottom: 30px; }
  .case-study--stick h2 {
    margin-bottom: 15px; }
  .case-study--stick h4 {
    margin-bottom: 120px; }
  .case-study--stick h2 {
    color: #110F0F; }
    .case-study--stick h2 span {
      color: white; }

.case-study--studiotime {
  background: black;
  padding-bottom: 0;
  margin-bottom: 0;
  margin: 0; }
  .case-study--studiotime h4 {
    color: white; }
  .case-study--studiotime h2 {
    color: #414141; }
  .case-study--studiotime .prop--2 {
    max-width: 450px !important;
    top: unset;
    width: 590px !important;
    height: 500px !important;
    left: 85% !important;
    bottom: 0% !important;
    z-index: 3; }
    .case-study--studiotime .prop--2 img {
      object-fit: contain;
      max-height: 100%; }

.case-study--blue {
  padding-bottom: 120px; }
  .case-study--blue hr {
    background: #0C0C0C;
    height: 3px; }
  .case-study--blue h6, .case-study--blue h4 {
    color: white; }
  .case-study--blue .case-study-brief {
    background: white;
    padding: 100px;
    margin-top: 120px;
    position: relative; }
    .case-study--blue .case-study-brief .content {
      margin-left: 420px;
      width: 350px; }
      .case-study--blue .case-study-brief .content a {
        color: #000789;
        font-weight: 700;
        margin-bottom: 30px !important;
        display: block; }
      .case-study--blue .case-study-brief .content h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        margin: 60px 0;
        margin-bottom: 30px;
        color: #0C0C0C; }
    .case-study--blue .case-study-brief .banner {
      background: #000789;
      position: absolute;
      bottom: 20%;
      left: 5%;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 610px;
      min-width: 375px;
      justify-content: space-between; }
      .case-study--blue .case-study-brief .banner .banner-image {
        max-width: 175px; }
      .case-study--blue .case-study-brief .banner a {
        color: #fff;
        font-weight: 700; }
      .case-study--blue .case-study-brief .banner h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: normal;
        text-align: center;
        color: #FCFDFE; }
        .case-study--blue .case-study-brief .banner h3 span {
          color: #B79B65; }

.case-study--sideway .case-study-brief .content a {
  color: #A61D55; }

.case-study--sideway .case-study-brief .banner {
  background: #551854;
  position: absolute;
  bottom: 20%;
  left: 5%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 610px;
  min-width: 375px;
  justify-content: space-between; }
  .case-study--sideway .case-study-brief .banner .banner-image {
    max-width: 375px; }
  .case-study--sideway .case-study-brief .banner h3 span {
    color: #FFB400; }

.case-study--buildfore {
  margin: 40px;
  margin-bottom: 0;
  background: radial-gradient(360px at 50% 50%, #FFD233 0%, #FFC700 100%);
  padding-bottom: 0; }
  .case-study--buildfore h2, .case-study--buildfore h6, .case-study--buildfore h4 {
    color: #110F0F; }
  .case-study--buildfore h4 {
    margin-bottom: 100px; }
  .case-study--buildfore .prop {
    position: absolute;
    top: 50%;
    left: -10%;
    max-width: 300px;
    z-index: 3; }
    .case-study--buildfore .prop img {
      width: 100%;
      object-fit: cover;
      height: auto; }
  .case-study--buildfore .prop--2 {
    height: 500px;
    width: 500px;
    max-width: 600px;
    left: 75%;
    top: 15%; }

section .section-cta .btn--tertiary {
  margin: 0;
  text-align: left;
  display: flex;
  margin-top: 40px; }

section .section-list--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 60px; }
  section .section-list--mobile .section-cta {
    width: 100%; }
    section .section-list--mobile .section-cta .btn--tertiary {
      margin: 0;
      text-align: left;
      display: flex;
      margin-top: 20px; }
  section .section-list--mobile li {
    width: 100%;
    padding: 16px 14px; }
    section .section-list--mobile li .icon {
      margin-right: 10px !important;
      width: 32px;
      height: 32px;
      min-width: 32px;
      min-height: 32px; }
      @media (min-width: 768px) {
        section .section-list--mobile li .icon {
          width: 48px;
          height: 48px;
          min-width: 48px;
          min-height: 48px; } }
    section .section-list--mobile li .list-start {
      flex: initial; }
    section .section-list--mobile li .list-title {
      font-weight: bold;
      font-size: 14px;
      line-height: 28px;
      /* or 200% */
      color: #FFFFFF; }
    section .section-list--mobile li span {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      /* or 133% */
      letter-spacing: 0.5px;
      color: #9A9A9A; }
  section .section-list--mobile li > a {
    display: flex;
    flex-direction: row;
    align-items: flex-start; }
  @media (min-width: 768px) {
    section .section-list--mobile {
      display: none; } }

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  max-width: 335px;
  bottom: 30px;
  font-size: 17px; }

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

.body-web-dark {
  background-color: #101318; }

#web h1 {
  color: white;
  background: none;
  -webkit-text-fill-color: unset;
  max-width: 650px; }

#web header {
  padding-top: 140px; }
  #web header h1 {
    text-align: left;
    margin: 0; }
  #web header .flex-col-start {
    padding: 0 20px; }
    #web header .flex-col-start h6 {
      margin-bottom: 10px;
      padding-top: 80px;
      color: #FAFAFA;
      opacity: 0.5; }
  #web header::after, #web header::before {
    display: none; }
  @media (min-width: 768px) {
    #web header {
      padding-top: 240px; }
      #web header .flex-col-start {
        padding: 0px; } }

#web footer {
  background: none; }

.client-work {
  padding: 60px 20px; }
  .client-work h2, .client-work h6 {
    padding: 0; }
  .client-work h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #F5F5F5;
    margin-bottom: 5px; }
  .client-work__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .client-work-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    border-bottom: 1px solid rgba(66, 66, 66, 0.3); }
    .client-work-card:nth-of-type(odd) {
      margin-left: 0; }
    .client-work-card:nth-of-type(even) {
      margin-right: 0; }
    .client-work-card .top {
      flex: 1;
      padding: 10px 15px;
      padding-left: 0; }
      .client-work-card .top span {
        font-weight: lighter; }
      @media (min-width: 768px) {
        .client-work-card .top {
          padding: 10px 20px; } }
    .client-work-card .middle {
      flex: 3; }
    .client-work-card .bottom {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px 15px;
      padding-right: 0;
      padding-left: 0; }
      .client-work-card .bottom .tags {
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        flex: 1;
        line-height: 13px;
        text-transform: uppercase;
        color: #F5F5F5; }
      .client-work-card .bottom a.btn--text {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: normal;
        text-align: center;
        background: #1F2125;
        border-radius: 25px;
        padding: 8px 16px;
        padding-top: 10px;
        color: #F7FAFA;
        transition: all 0.2s ease-in-out; }
        .client-work-card .bottom a.btn--text:hover {
          background: black; }
      @media (min-width: 768px) {
        .client-work-card .bottom {
          padding: 20px;
          padding-right: 0; }
          .client-work-card .bottom .tags {
            font-size: 13px; } }
  @media (min-width: 768px) {
    .client-work {
      padding: 60px 20px; }
      .client-work h3 {
        font-size: 30px;
        line-height: 32px;
        width: 90%;
        margin-bottom: 15px; }
      .client-work-card {
        width: calc(50% - 40px);
        margin: 60px 20px; }
        .client-work-card:nth-of-type(odd) {
          margin-left: 0; }
        .client-work-card:nth-of-type(even) {
          margin-right: 0; } }

#about #headerMessage {
  position: relative; }
  #about #headerMessage:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: #00c8ff;
    border-radius: 100px;
    left: -30px; }

#about h1, #about h2, #about h3, #about h4, #about h5, #about h6, #about p {
  text-align: left;
  margin: 0;
  max-width: initial; }

#about h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  max-width: 90%;
  line-height: 170%;
  /* or 126px */
  letter-spacing: 0.15px;
  color: white;
  background-image: none;
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  margin: 0;
  color: #F8F8F9; }

#about h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 67px;
  letter-spacing: -0.25px;
  margin-bottom: 60px;
  color: #FFFFFF; }

#about h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.25px;
  color: #EEE;
  margin-bottom: 20px;
  opacity: 1; }

#about h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #FFFFFF;
  opacity: 0.5; }

#about p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  /* or 36px */
  letter-spacing: 0.15px;
  color: #FFFFFF; }

#about header {
  border-bottom: 1px solid #2D2F34;
  padding: 300px 0;
  padding-bottom: 30px; }
  #about header:after, #about header:before {
    display: none;
    content: none; }
  #about header .header__content {
    max-width: 960px;
    margin: 0 auto; }
  #about header h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #dedee0;
    margin-top: 90px;
    opacity: 1; }

#about .bio__content img {
  margin: 100px 0; }

#about .bio__header {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 160px; }

#about .bio__section {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 160px; }

#about .bio__quick-overview {
  max-width: 720px;
  margin: 0 auto;
  display: flex; }
  #about .bio__quick-overview ul {
    margin-left: 0;
    margin-right: 0;
    min-width: 50%; }

#about .bio ul .list-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.25px;
  margin-bottom: 40px;
  color: #FFFFFF; }

#about .bio ul li {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 202.2%;
  /* or 36px */
  letter-spacing: -0.25px;
  margin-left: 40px;
  color: #FFFFFF;
  margin-bottom: 10px;
  opacity: 0.8; }
  #about .bio ul li:before {
    content: "—";
    position: absolute;
    left: -40px; }

@media (min-width: 768px) {
  #about h1 {
    font-size: 74px;
    line-height: 170%;
    /* or 126px */
    letter-spacing: 0.15px; } }

html, body {
  width: 100%;
  background: none; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background: white;
  background: #121212;
  background: #101318; }
