
/*=================================*/
/*  Table of Contents
/*  - Reset & Clearfix Styles
/*  - Main Styles
/*      - Titles
/*      - Navigation Styles
/*      - Projects Feed
/*          - Project Assets
/*          - Project Content
/*          - Paginations
/*  - News
/*  - Structure
/*  - Grid
/*  - Footer Styles
/*  - Media Queries


/*=================================*/

/*=================================*/
/* Reset & Clearfix Styles
/*=================================*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.cf:before, .cf:after { content: " "; display: table; } .cf:after { clear: both; }

/*=================================*/
/* Main Styles
/*=================================*/

* { box-sizing: border-box; }
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    background: #FFFFFF;
    color: #2c2c2c;
    font-family: 'Noto Sans', serif;
    font-size: 18px;
    line-height: 1.65;
    opacity: 0;
    overflow-x: hidden;
    transition: opacity 0.25s ease-in 0.1s;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
}
body.loaded,
.no-js body {
    opacity: 1;
}
a, a:visited {
    color: #fff;
    cursor: pointer;

    text-decoration: none;
    transition: all 0.1s ease-in-out;
}
a:hover, a:active {
  color: #fff;
    opacity: 1;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

h1,h2,h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color:#333333;
}
h1 {
    font-size: 3.0rem !important;
    letter-spacing: 2px;
    margin: 0 0 40px;
}

h2 {
    color:#818181;
    font-size: 2.4rem;
    margin: 0;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .8rem;
}

h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
}
h4,
h5,
h6 {
   font-weight: normal;
}
p,li {
  font-family: sans-serif;

    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0 0 20px;
    color:#bcbcbc;
}
small {
    font-weight: 300;
    font-size: 1rem;
    color: #747474
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

hr{
    border: 0;
    height: 2px;
    margin: 20px 0;
    background: #000;
}

pre,
code,
samp {
    font-family: "Noto Sans", Consolas, monospace;
    font-size: inherit;
}

pre,
code {
    background-color: #eee;
    border-radius: 3px;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow-x: scroll;
    padding: 1rem;
}


.jumbotron{
    height: 400px;
    padding-top:8em;
}

.jumbotron p{
    font-weight: 300;
    font-size: 1.35rem;
    line-height: 1.35;
    margin: 0 0 20px;
    color:#bcbcbc;
}

.box-red{
  background-image: -moz-linear-gradient( 90deg, rgb(254,63,99) 0%, rgb(255,170,167) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(254,63,99) 0%, rgb(255,170,167) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(254,63,99) 0%, rgb(255,170,167) 100%);
  height: 511px;
  padding-left: auto;
  padding-right: auto;
  overflow: hidden;
}

.box-magenta{
  background-image: -moz-linear-gradient( 145deg, rgb(254,162,176) 0%, rgb(187,96,201) 36%, rgb(119,29,226) 100%);
  background-image: -webkit-linear-gradient( 145deg, rgb(254,162,176) 0%, rgb(187,96,201) 36%, rgb(119,29,226) 100%);
  background-image: -ms-linear-gradient( 145deg, rgb(254,162,176) 0%, rgb(187,96,201) 36%, rgb(119,29,226) 100%);
  height: 511px;
  padding-left: auto;
  padding-right: auto;
  overflow: hidden;
}

.box-orange{
  /*background-image: -moz-linear-gradient( 90deg, rgb(254,184,63) 0%, rgb(255,252,167) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(254,184,63) 0%, rgb(255,252,167) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(254,184,63) 0%, rgb(255,252,167) 100%);*/
  background: #ffd600;
  height: 511px;
  padding-left: auto;
  padding-right: auto;
  overflow: hidden;
}

.product {
min-height: 600px;
}

.product-info{
    padding-top: 10rem;
}

.product-info h2{
    line-height: 2.5em;
    color: #fff !important;
}

.product-info p{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff !important;
  line-height: 1.5em;
  margin-bottom:3em;
}
a.secondary-button{
  color: #fff;
  opacity: 0.6 !important;
}
a.secondary-button:hover{
  opacity: 1 !important;
}
.box-red img{
    margin-top: -150px;
    margin-left: 200px;
    transform: scale(1.8);
    -webkit-transition: all ease-in-out 1.4s; /* Safari */
    transition: all ease-in-out 1.4s;
}

.box-red img:hover{
  cursor: pointer;
    -webkit-transition: all ease-in-out 1.4s; /* Safari */
    transition: all ease-in-out 1.4s;
}

.box-orange img{
  z-index: -1;
    margin-top: -50px;
    margin-left: 300px;
    transform: scale(2.3);
    -webkit-transition: all ease-in-out 1.4s; /* Safari */
    transition: all ease-in-out 1.4s;
}

.box-orange img:hover{
  cursor: pointer;
    -webkit-transition: all ease-in-out 1.4s; /* Safari */
    transition: all ease-in-out 1.4s;
}

.box-magenta img{
    margin-left: 80px;
    margin-top: 100px;
    box-shadow: 0rem 3rem 10rem 1rem rgba(254, 84, 0, 0.20);
    -webkit-transition: all ease-in-out 1.4s; /* Safari */
    transition: all ease-in-out 1.4s;
}

.box-magenta img:hover{
    margin-top: -400px;
    box-shadow: 0rem 3rem 10rem 1rem rgba(254, 0, 203, 0.20);
    -webkit-transition: all ease-in-out 1.4s; /* Safari */
    transition: all ease-in-out 1.4s;
}

.contact {
    margin-top:7rem;
    margin-bottom:6rem;
}

.contact-form{
    margin-top:2rem;
}

.form-group{
        margin-top:2rem;
}
.primary-btn{
    margin-top: 3rem;
  border-width: 1px;
  border-color: rgb(239, 73, 73);
  webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
    
    -webkit-background-clip:    padding-box;
    -moz-background-clip:       padding;
background-clip:            padding-box;
  width: 160px;
  height: 61px;
  background: none;
  color: rgb(239, 73, 73);
      font-size: 1.1rem;
  font-family: "Noto Serif";
  line-height: 1.958;

    -webkit-transition: all ease 0.4s; /* Safari */
    transition: all ease 0.4s;
}

.primary-btn:hover{
    background-color: rgb(239, 73, 73);
    -webkit-transition: all ease 0.4s; /* Safari */
    transition: all ease 0.4s;
    border: none;
}

.contact p {
    margin-top:20px;
}

.btn-red{
    color:#fe476d;
    -webkit-transition: all ease 0.3s; /* Safari */
    transition: all ease 0.3s;
}

.btn-red:hover{
    color:#ff022e;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

span.sp-red {
    display:inline-block;
    border-bottom:1px solid #fe476d;
    padding-bottom:2px;
}

.btn-orange{
    color:#fac14b;
    -webkit-transition: all ease 0.3s; /* Safari */
    transition: all ease 0.3s;
}

.btn-orange:hover{
    color:#ffa100;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

span.sp-orange {
    display:inline-block;
    border-bottom:1px solid #fac14b;
    padding-bottom:2px;
}

.btn-magenta{
    color:#a346fc;
    -webkit-transition: all ease 0.3s; /* Safari */
    transition: all ease 0.3s;
}

.btn-magenta:hover{
    color:#7b00f1;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

span.sp-magenta {
    display:inline-block;
    border-bottom:1px solid #a346fc;
    padding-bottom:2px;
}

.cf{
    margin-bottom: 2em;
}

.cf img{
    margin-right: auto;
    margin-left: auto;
    display:block;
}

.cf li{
    margin-left: 2em;
}

.cf ul{
    float:right;
}

.footer-text{
    margin-top:1em;
    font-family: "Dosis",serif;
}
/*===========================================
=            Bootstrap Overrides            =
===========================================*/
nav{
    margin-top:6rem;
}

.nav > li > a {
    font-family:"Noto Serif",serif;
    font-size:1.2em;
    margin-left: 2em;
    margin-top: 0.55em;
    color:#818181;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color:#fe5571;
}
.navbar{
    background: none;
    border: none;
}
.navbar-brand{
    padding-left: 0px;
}

.form-control{
  border:none;
  box-shadow: none;
  font-family: 'Noto Serif',serif;
  font-size: 18px;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
}

.form-control{
  border-bottom: solid 1px #f9f2f2;
}

input{
  border:none;
  border-bottom: solid 1px #f9f2f2;
  box-shadow: none;
}

textarea{
  border:none;
  border-bottom: solid 1px #f9f2f2;
  box-shadow: none;
}


.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline: none;  
}


.form-control:focus {
  box-shadow: none;
  margin: 5px 1px 3px 0px;
  border-bottom: solid 1px;
  border-color: -webkit-linear-gradient( 180deg, rgb(254,63,99) 0%, rgb(255,170,167) 100%);
}

svg :hover{
 fill: -webkit-linear-gradient(rgb(255,168,166), rgb(80,67,97)); /* For Safari 5.1 to 6.0 */
 fill: -o-linear-gradient(rgb(255,168,166), rgb(80,67,97)); /* For Opera 11.1 to 12.0 */
 fill: -moz-linear-gradient(rgb(255,168,166), rgb(80,67,97)); /* For Firefox 3.6 to 15 */
 fill: linear-gradient(to bottom right, rgb(255,168,166), rgb(80,67,97)); /* Standard syntax */
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.35;
  line-height: 1.5em;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.35;
  line-height: 1.5em;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.35;
  line-height: 1.5em;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 0.35;
  line-height: 1.5em;
}

/*=====  End of Bootstrap Overrides  ======*/

.featured , .clients{
  width: 100%;
  padding: 2em 0em;
  border: 1px solid #F4F4F4;
}

.clients{
  padding-top: 6em;
  border-top:0px;
}

.clients .title{
  padding-top: 1em;
}
