// ----------- Using the Sass 7-1 Architecture  ----------- //
// More details : https://sass-guidelin.es/#the-7-1-pattern

@import 'vendors/jquery.fullpage';

@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/helpers';

@import 'base/reset';
@import 'base/typography';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';


@import 'components/buttons';

@import 'components/dropdown';
@import 'components/navigation';
@import 'components/animations';

@import 'pages/home';
@import 'pages/project';
@import 'pages/wip';

@import 'themes/theme';
@import 'themes/admin';

html, body {
  font-family: $font-family;
  width: 100vw;
  overflow-x: hidden;
}
