/*------------------------------------*\
    #Pace js plugin 
\*------------------------------------*/

.pace {
  width: 140px;
  height: 70px;
  border-color: #1D1F20;
  background: transparent;
}

.pace .pace-progress {
  max-width: 140px;
  background: #111;
}


/**
 * Overlay
 */
.pace-running:before,
.pace-done:before {
  content: '';
  position: absolute;  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  -webkit-transition: background 2s;  
          transition: background 2s;
}

.pace-running:before{
  background: #1D1F20;
  z-index: 2;
}
.pace-done:before {
  background: transparent;  
}





/*------------------------------------*\
    #Page loading counter
\*------------------------------------*/

.page-loading-counter {
  display: none;
}

.pace-running .page-loading-counter {
  display: block;  
  position: absolute;
  z-index: 2001; /* above .pace-progress */
  top: 50%; 
  left: 50%;
  width: 140px;
  margin-left: -70px;
  margin-top: 50px;
  
  font-size: 28px;
  color: #fff;
  text-align: center;
}

.pace-running .page-loading-counter:before {
  content: "";  
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(left, #ffffff 20%, transparent 20%, transparent 80%, #ffffff 80%);
  background: -webkit-linear-gradient(left, #ffffff 20%,transparent 20%,transparent 80%,#ffffff 80%);
  background: linear-gradient(to right, #ffffff 20%,transparent 20%,transparent 80%,#ffffff 80%);
}




/*------------------------------------*\
    #Logo
\*------------------------------------*/

.c-logo {
  display: none;
  
  position: absolute;
  z-index: 2001; /* above .pace-progress */
  top: 50%; 
  left: 50%;
  width: 140px;
  margin-left: -70px;
  margin-top: -24px;
  text-align: center;
  
  font-size: 38px;
  font-weight: 600;
  color: #fff;
}

.pace-running .c-logo {
  display: block;
}

