#wip {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	.link {
		a {
			&:hover {
				background: #0029FF !important;
			}
		}
	}
	.wip {
		&-hero {
			width: 100%;
			max-width: 600px;
			min-height: 900px;
			height: 100%;
			margin: 0 auto;
			.container, .wip-hero__intro {
				min-height: 900px;
				margin: 0 auto;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			&__intro {
				width: 100%;
				margin-bottom: 200px;
				max-width: 600px;
				margin: 0 auto;
				.about--image {
					margin-top: 40px;
					margin-bottom: 20px;
				}
				.label {
					font-style: normal;
					font-weight: normal;
					line-height: 48px;
					font-size: 18px;
					margin-bottom: 20px;
					color: #000000;
				}
				h1 {
					font-size: 64px;
					font-weight: bold;
					line-height: 48px;
					font-size: 62px;
					color: #000000;
					margin-bottom: 20px;
				}
				.progress-bar {
					width: 100%;
					height: 20px;
					position: relative;
					margin-bottom: 60px;	
					&__bg {
						height: 100%;
						width: 100%;
						background: rgba(#0029FF, 0.1);
					}
					&__progress {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						z-index: 10;
						width: 20%;
						background: #0029FF;
						transition: all 4s ease;
					}
				}
				.description {
					font-family: 'Maison Neue Medium';
					font-weight: normal;
					line-height: 39px;
					font-size: 24px;
					color: #333333;
					letter-spacing: 0;
				}

			}
		}
	}
}
#about {
	margin-top: 0;
	@include respond-to('medium') {
		margin-top: 235px !important;
	}
}
#about-cta {
	margin-top: 120px;
}
.feature-list {
	margin-bottom: 80px;
	&__title {
		font-family: 'Maison Neue Bold';
		line-height: 20px;
		font-size: 14px;
		color: #000000;
		opacity: 0.2;
	}
	.featured-list {
		list-style-type: square;
		li {
			font-family: 'Maison Neue Bold';
			line-height: 20px;
			font-size: 14px;
			color: #000000;
			list-style-type: square;
		}
	}
}