
<!-- <div id="signupmodal" class="hide">
	<div class="container">
		<div class="row center-xs">
			<div class="col-xs-10 col-sm-8 col-md-5 modal-container">
				<div class="close">
					<img src="/assets/img/icons/close.svg" alt="close">
				</div>
				<div class="form-container">
					<h2>
						Sign Up To My Monthly Mail
					</h2>
					<div id="mc_embed_signup">
						<form action="https://kshitij.us18.list-manage.com/subscribe/post?u=ca2a09a00eb6ad6df5f4a6c55&amp;id=11f689d147" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div class="mc-field-group form-group">
								<label for="mce-EMAIL">
									<span class="error-message"></span>
									<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
								</label>
							</div>
							<div class="form-actions">
								<div class="clear" id="mce-responses">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ca2a09a00eb6ad6df5f4a6c55_11f689d147" tabindex="-1" value=""></div>
								<div class="clear">
									<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
								</div>
							</div>
						</form>
					</div>
					<div class="social">
						<hr>
						<h6>500+ people have already signed up to stick</h6>
						<img src="/assets/img/people.png" alt="signed-up">
					</div>						
				</div>
			</div>
		</div>
	</div>
</div>
 -->
