    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Kshitij Choudhary - Interdisiciplinary Designer and Developer</title>
    <meta name="description" content="Kshitij Choudhary is an Interdisiciplinary Designer, Web developer. Skilled in UI/UX Design , Ruby on Rails, React JS and Beatboxing." />
    <meta name="keywords" content="kshitij, choudhary, kshitij choudhary, freelance ui designer,  ux designer, ui/ux designer, ui consultant, ux consultant, designer" />
    <meta name="author" content="Kshitij Choudhary" />
    <!--[if IE]><link rel="shortcut icon" href="/assets/favicon.png"><![endif]-->
    <link rel="icon" href="/assets/favicon.png">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Kshitij Choudhary">
    <meta itemprop="description" content="Kshitij Choudhary :  Interdisiciplinary Designer, Web developer. Skilled in UI/UX Design , Ruby on Rails, React JS and Beatboxing.">
    <meta itemprop="image" content="/assets/img/twitter.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@howbadeh">
    <meta name="twitter:title" content="Kshitij Choudhary">
    <meta name="twitter:description" content="Kshitij Choudhary is an Interdisiciplinary Designer, Web developer. Skilled in UI/UX Design , Ruby on Rails, React JS and Beatboxing.">
    <meta name="twitter:creator" content="@howbadeh">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="/assets/img/twitter.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Kshitij Choudhary" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="http://www.kshitij.ws/" />
    <meta property="og:image" content="/assets/img/facebook.png" />
    <meta property="og:description" content="Kshitij is an Interdisiciplinary Designer, Web developer. Skilled in UI/UX Design , Ruby on Rails, React JS and Beatboxing." />
    <meta property="og:site_name" content="Kshitij" />

    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">