<div class="drawer drawer--active">
    <h3 href="" class="drawer__logo">Workflow</h3>
    <i class="drawer__close material-icons clr-light">close</i>
    <ul class="drawer__list">
        <li class="drawer__item drawer__item--header"><h2>Projects</h2></li>
        <li class="drawer__item"><h4><a href="">Jenkins 2 Story House</a></h4></li>
        <li class="drawer__item"><h4><a href="">Jenkins 2 Story House</a></h4></li>
        <li class="drawer__item"><h4><a href="">Jenkins 2 Story House</a></h4></li>
        <li class="drawer__item"><h4><a href="">Jenkins 2 Story House</a></h4></li>
    </ul>
    <ul class="drawer__list">
        <li class="drawer__item drawer__item--header"><h2>Settings</h2></li>
        <li class="drawer__item"><h4><a href="">Option</a></h4></li>
        <li class="drawer__item"><h4><a href="">Option</a></h4></li>
        <li class="drawer__item"><h4><a href="">Option</a></h4></li>
    </ul>
</div>