.header {
	display: flex;
	position: fixed;
	background: 0;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
	box-shadow: 0;
	z-index: 10;
	top: 0;
	left: 0;
	height: 90px;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: inline;
		margin-left: 2em;
		font-size: 0.75em;
		text-transform: uppercase;
		a {
			color: white;
			&:hover {
				color: $dark-blue;
			}
		}
	}
	&__wrapper {
		display: flex;
		align-items: center;
		padding: 1rem;
		width: 100%;
	}
	&__left {
	    display: flex;
	    flex-direction: row;
	    justify-content: flex-start;
  	}
    &__logo {
	    display: flex;
	    align-items: center;
	    img {
	    	height: auto;
	    	width: auto;
			max-height: 60px;
			margin: 0;
	    }
  	}
  &__right {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    width: 100%;
  }
  @include respond-to('medium') {
  	max-width: 100%;
	overflow: hidden;
	&__wrapper {
		padding: 0 1rem;
	}
    &__right {
      display: flex;
    }
  }
}