footer {
    h2 {
        font-style: normal;
        font-weight: bold !important;
        max-width: 640px !important;
        font-size: 30px;
        line-height: 32px;/* or 94% */
        letter-spacing: -0.25px;
        
        color: #FFFFFF;
    }
    padding: 60px 20px;
    padding-bottom: 40px;
    .footer-label {
        margin-bottom: 80px;
        color: white;
    }
    h2 {
        @include respond-to('medium') {
            font-size: 64px;
            line-height: 60px;/* or 94% */
        }
    }
    .footer-copy {
        span {
            color: #FFC700;
            color: #167aff;
            color: #FF5A60;
            text-decoration: underline;
        }
    }
    .footer-links {
        margin-top: 80px;
        h4 {
            margin-bottom: 10px;
            color: #FAFAFA;
            opacity: 0.5;
            font-weight: 500;
        }
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0;
            li {
                margin: 0;
                a {
                    margin-right: 30px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: normal;
                    
                    color: #FAFAFA;
                }
                &:last-of-type {
                    a {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    @include respond-to('medium') {
        padding: 120px 0;
    }
}