header {
    .flex-col-start h6, h6 {
        color: #47525D;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 24px !important; 
        color: #47525D;
    }
}