a {	
	transition: all 0.4s ease;
	color: black;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid transparent;
	&:hover {
		cursor: pointer;
		color: black;
		border-bottom: 1px solid black;
		transition: all 0.4s ease;
	}
}
button {
	border: none;
	transition: all 0.4s ease;
	&:hover {
		cursor: pointer;
		transition: all 0.4s ease;
	}
}

.link {
	transition: all 0.4s ease;
	&:hover {
		cursor: pointer;
		transition: all 0.4s ease;
	}

	// &--work {
	// 	color: #FF004D;
	// }

	// &--maker {
	// 	color: #9B51E0;
	// }
	// &--design {
	// 	color: #FF1C6C;
	// }

	// &--dev {
	// 	color: #333333;
	// }
}