#dontLeave {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: #0C0E12;
    h1 {
        color: white;
        font-size: 14vmin !important;
        font-weight: 500 !important;
        letter-spacing: 2px !important;
    }
    h6 {
        position: absolute;
        bottom: 4vmin !important;
        margin: 5px !important;
    }
    h6.second {
        color: white !important;
        font-weight: 500 !important;
    }
    h6.first {
        bottom: 6vmax !important;
        color: #6B6D72 !important;
    }
    @include respond-to('medium') {
        h6 {
            bottom: 4vmin !important;
        }
        h6.first {
            bottom: 7vmin !important;
        }
    }
}