.nav {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: center;
	align-items: center;
	z-index: 10;
	padding: 20px;
	.left {
		display: flex;
		flex-direction: column;
		justify-content: flex-start !important;
		align-items: flex-start !important;
		text-align: left;
		.current-activity {
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: normal;
			color: #969696;
			display: flex;
    		align-items: center;
			span {
				font-weight: 900;
				color: white;
				margin: 0 4px;
			}
		}
		#currentActivityIcon {
			padding-top: 4px;
			max-width: 32px;
		}
		#currentActivity {
			margin: 0;
		}
	}
	.nav-link.logo {
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: normal;
		
		color: #FAFAFA;
	}
	.nav-links {
		a {
			color: #6d6d6d;
			mix-blend-mode: color-dodge;
		}
	}
	.nav-links-container {
		display: flex;
		align-items: center;
		.nav-link {
			margin-right: 20px;
			a {
				color: #fff;
				mix-blend-mode: color-dodge;
			}
		}
	}
	.right {
		display: flex;
		a {
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: normal;
			text-align: center;
			background: rgba(#1F2125, 0.4);
			border-radius: 25px;
			padding: 16px 24px;
			padding-top: 18px;
			color: #F7FAFA;
			transition: all 0.2s ease-in-out;
			&:hover {
				background: black;
			}
		}
	}
	@include respond-to('medium') {
		top: 100px;
	}
}