

@font-face {
font-family: 'Inter UI Light';
font-style: normal;
font-weight: normal;
src: local('Inter UI Light'), url('/assets/fonts/Inter-UI-Light.woff') format('woff');
}


@font-face {
font-family: 'Inter UI Regular';
font-style: normal;
font-weight: normal;
src: local('Inter UI Regular'), url('/assets/fonts/Inter-UI-Regular.woff') format('woff');
}

@font-face {
font-family: 'Inter UI Bold';
font-style: normal;
font-weight: normal;
src: local('Inter UI Bold'), url('/assets/fonts/Inter-UI-Bold.woff') format('woff');
}

@font-face {
font-family: 'Inter UI Medium';
font-style: normal;
font-weight: normal;
src: local('Inter UI Medium'), url('/assets/fonts/Inter-UI-Medium.woff') format('woff');
}

@font-face {
font-family: 'Inter UI Black';
font-style: normal;
font-weight: normal;
src: local('Inter UI Black'), url('/assets/fonts/Inter-UI-Black.woff') format('woff');
}



// @font-face {
// font-family: 'Colfax Bold Italic';
// font-style: normal;
// font-weight: normal;
// src: local('Colfax Bold Italic'), url('/assets/fonts/Colfax-BoldItalic.woff') format('woff');
// }


// @font-face {
// font-family: 'Colfax Light Italic';
// font-style: normal;
// font-weight: normal;
// src: local('Colfax Light Italic'), url('/assets/fonts/Colfax-LightItalic.woff') format('woff');
// }


// @font-face {
// font-family: 'Colfax Medium Italic';
// font-style: normal;
// font-weight: normal;
// src: local('Colfax Medium Italic'), url('/assets/fonts/Colfax-MediumItalic.woff') format('woff');
// }


// @font-face {
// font-family: 'Colfax Regular Italic';
// font-style: normal;
// font-weight: normal;
// src: local('Colfax Regular Italic'), url('/assets/fonts/Colfax-RegularItalic.woff') format('woff');
// }


// @font-face {
// font-family: 'Colfax Thin Italic';
// font-style: normal;
// font-weight: normal;
// src: local('Colfax Thin Italic'), url('/assets/fonts/Colfax-ThinItalic.woff') format('woff');
// }


/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/

// Font Family
$font-family: 'Inter UI', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Base Font for HTML
$base-font-size: 16px;

// Paragraph Styles
$paragraph-color      : #505050;
$paragraph-size       : rem(17px);
$paragraph-line-height: 1.5em;
$paragraph-margin     : 20px;

// Header Styles
$header-color      : #000000;
$header-size       : rem(48px);
$header-line-height: 1.333em;
$header-margin     : $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color      : #212121;
$blockquote-size       : rem(28px);
$blockquote-line-height: 1.5em;
$blockquote-margin     : $paragraph-margin * 1.5;

// Links
$link-color: #4eaff6;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 800;
$border-color: #DADADA;


body {
    font-size: 12px;

    @include respond-to('medium'){
        font-size: 16px;
    }
}



/*------------------------------------*\
    # Type
\*------------------------------------*/

// Make type normal across browsers
*, html, body {
    font-size: $base-font-size;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    outline: none;
}


// Headers
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 $header-margin 0;
    color: $header-color;
    line-height: $header-line-height;
    font-weight: 400;
    text-align: left;
}

h1 {
    font-size: $header-size/1.5;
    @include respond-to('medium'){
        line-height: 54px;
        font-size: 36px;
    }
    font-family: 'Inter UI Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 54px;
    font-size: 36px;
    color: #000000;
}

h2 {
    font-size: $header-size / 1.3;
}

h3 {
    font-size: $header-size / 1.5;
    font-family: 'Inter UI Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
    font-style: normal;
    font-weight: bolder;
    line-height: 32px;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #4C67F2;
}

h4 {
    font-size: $header-size / 1.7;
    font-family: 'Inter UI Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 15px;
    color: #D3D6E5;
}

h5 {
    font-size: $header-size / 1.8;
}

h6 {
    font-size: $header-size / 2;
}



// Paragraphs
p {
    margin-top: $paragraph-margin;
    font-size: $paragraph-size;
    line-height: $paragraph-line-height;
    color: $paragraph-color;

    &:first-of-type {
        margin-top: 0;
    }
}



// Links
a {
    color: $link-color;
    text-decoration: none;
    @include transition(all .2s ease);

    &:hover {
        color: darken($link-color, 10%);
    }
}


// Lists
ul, ol {
    margin: $paragraph-margin 0 0 20px;

    li {
        margin-top: 10px;
        line-height: $paragraph-line-height;
        color: $paragraph-color;
    }

    ul, ol {
        margin-top: 0;
    }
}

ul {

    li {
        list-style: none;
    }

    ul {

        li {
            list-style: none;
        }
    }
}

ol {

    li {
        list-style: none;
    }
}


// hr
hr {
    height: 1px;
    margin: $hr-margin 0;
    border: none;
    background-color: $border-color;
}


// Blockquote
blockquote {
    margin: $blockquote-margin 0;
    font-size: $blockquote-size;
    line-height: $blockquote-line-height;
    color: $blockquote-color;
    text-align: center;
    font-style: normal !important;
}


// Tables
table {
    width: 100%;
    margin: $blockquote-margin 0;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid $border-color;
    text-align: left;
}

th {
    font-weight: $font-weight-bold;
}

th, td {
    padding: 15px;
}


// Figure
figure {
    margin: $blockquote-margin 0;

    img {
        margin: 0;
    }
}

figcaption {
    margin-top: 10px;
    color: lighten($paragraph-color, 10%);
    font-size: $paragraph-margin * 0.8;
}


// Code
pre {
    display: block;
    margin: 0 0 40px 0;
    padding: 20px;
    background-color: lighten($border-color, 12%);
    border: 1px solid $border-color;
    overflow: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    code {
        position: static;
        padding: 0;
        border: none;
        line-height: 1.5em;
    }
}

code {
    position: relative;
    top: -0.2em;
    padding: 3px;
    font-family: Courier New, Courier, monospace;
    font-size: $paragraph-size / 1.4;
    color: darken($border-color, 40%);
    line-height: 1em;
    pointer-events: none;
    border: 1px solid $border-color;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



// Misc Styles
em, i, .italic {
    font-style: italic;
}

strong, b, .bold {
    font-weight: $font-weight-bold;
}

img {
    display: block;
    max-width: 100%;
    margin: $blockquote-margin 0;
}

