
/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/

// Font Family
$font-family: 'Maison Neue',-apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
$font-family-bold: 'Maison Neue Bold',-apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
$font-family-light: 'Maison Neue Light',-apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

// Base Font for HTML
$base-font-size: 16px;

// Paragraph Styles
$paragraph-color      : $Lightest-Grey;
$paragraph-size       : rem(16px);
$paragraph-line-height: 1.5em;
$paragraph-margin     : 20px;

// Header Styles
$header-color      : black;
$header-size       : rem(48px);
$header-line-height: 1.333em;
$header-margin     : $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color      : $International-Orange;
$blockquote-size       : rem(28px);
$blockquote-line-height: 1.5em;
$blockquote-margin     : $paragraph-margin * 1.5;

// Links
$link-color: #4eaff6;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 800;
$border-color: #DADADA;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: $font-family;
  vertical-align: baseline; 
}

body {
    font-size: 14px;
    font-family: $font-family;
    font: $font-family;
    @include respond-to('medium'){
        font-size: 16px;
    }
    @include respond-to('huge'){
        font-size: 20px;
    }
}



/*------------------------------------*\
    # Type
\*------------------------------------*/

// Make type normal across browsers
*, html, body {
    font-size: $base-font-size;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    outline: none;
}


// Headers
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 $header-margin 0;
    color: $Violet;
    font-family: $font-family;
    line-height: $header-line-height;
    font-weight: 400;
    text-align: left;
    font-family: $font-family;
    font-style: normal;
}

h1 {
    font-size: $header-size/1.5;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;

    @include respond-to('medium'){
        font-size: 64px;
    }
    @include respond-to('large') {
        font-size: 48px;
    }
    @include respond-to('huge') {
        font-size: 42px;
    }

    span {
        color: $Golden-Fizz;
    }

}

h2 {
    font-size: $header-size / 1.3;
    font-weight: 700;
    line-height: normal;
    font-size: 24px;

    @include respond-to('medium'){
        font-size: 26px;
    }
    @include respond-to('large') {
        font-size: 28px;
    }
    @include respond-to('huge') {
        font-size: 30px;
    }
}

h3 {
    font-size: $header-size / 1.5;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;

    @include respond-to('medium'){
        font-size: 30px;
    }
}

h4 {
    font-size: $header-size / 1.7;
    font-weight: light;
    line-height: normal;
    font-size: 20px;

    @include respond-to('medium'){
        font-size: 24px;
    }
}

h5 {
    font-size: $header-size / 1.8;
    font-weight: bold;
    line-height: normal;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-align: center;

    color: $Light-Slate-Grey;
    @include respond-to('medium'){
        font-size: 16px;
    }
}

h6 {
    font-size: $header-size / 2;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    @include respond-to('medium'){
        font-size: 16px;
        line-height: 48px;
    }
}



// Paragraphs
p {
    margin-top: $paragraph-margin;
    font-size: $paragraph-size;
    line-height: $paragraph-line-height;
    color: $paragraph-color;
    font-style: normal;
    font-weight: 200;
    line-height: 26px;
    font-size: 14px;
    color: #344266;

    &:first-of-type {
        margin-top: 0;
    }


}



// Links
a {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    font-size: 14px;
    letter-spacing: 0em;

    @include respond-to('medium'){
        line-height: 26px;
        font-size: 16px;
    }
    @include respond-to('large') {
        font-size: 16px;
    }
    @include respond-to('huge') {
        font-size: 16px;
    }

    i {
        background-image: url(../assets/img/icons/arrow-black.svg), none;
        background-repeat: no-repeat;
        background-position: center top;
        height: 1rem;
        width: 2rem;
        margin-top: 0.35rem;
        margin-left: 1rem;
        @include transition(all .2s ease);
    }
    &:hover {
        color: $International-Orange !important;

        cursor: pointer !important;
        i {
            background-image: url(../assets/img/icons/arrow-orange.svg), none;
            transform: rotate(45deg);
            transition: all 0.2s ease;
            @include transition(all .2s ease);
        }
    }
    @include transition(all .2s ease);
}

.primary-link {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $link-color;

    &--orange {
        border-bottom: 2px solid $International-Orange;
        margin-top: 2rem !important;
    }
}

.primary-link--arrow {
        color: $International-Orange !important;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        line-height: rem(24px);
        font-size: rem(16px);
        letter-spacing: -0.0085em;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        i {
            background-image: url(fallback.png);
            background-image: url('../assets/img/icons/arrow-orange.svg'), none;
            background-repeat: no-repeat;
            width: 1.5rem;
            height: 1.5rem;
            margin-top: 0.35rem;
            margin-left: 1rem;
            z-index: 2;
        }
    @include transition(all .2s ease);
}

// Lists
ul, ol {
    margin: $paragraph-margin 0 0 20px;

    li {
        margin-top: 10px;
        line-height: $paragraph-line-height;
        color: $paragraph-color;
    }

    ul, ol {
        margin-top: 0;
    }
}

ul {

    li {
        list-style: none;
        line-height: 33px;
        font-size: 16px;
        letter-spacing: -0.005em;
    }

    ul {

        li {
            list-style: none;
        }
    }
}

ol {

    li {
        list-style: none;
        line-height: 33px;
        font-size: 16px;
        letter-spacing: -0.005em;
    }
}


// hr
hr {
    height: 1px;
    margin: $hr-margin 0;
    border: none;
    background-color: $border-color;
}


// Blockquote
blockquote {
    margin: $blockquote-margin 0;
    color: $blockquote-color;
    text-align: center;
    font-style: normal !important;
    font-weight: 500;
    line-height: rem(31px);
    font-size: rem(18px);
    letter-spacing: -0.02em;
}


// Tables
table {
    width: 100%;
    margin: $blockquote-margin 0;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid $border-color;
    text-align: left;
}

th {
    font-weight: $font-weight-bold;
}

th, td {
    padding: 15px;
}


/* import fonts */

@font-face {
font-family: 'Maison Neue Light';
font-style: normal;
font-weight: normal;
src: local('Maison Neue Light'), url('/assets/fonts/MaisonNeue-Light.woff') format('woff');
}

@font-face {
font-family: 'Maison Neue Demi';
font-style: normal;
font-weight: normal;
src: local('Maison Neue Demi'), url('/assets/fonts/MaisonNeue-Demi.woff') format('woff');
}

@font-face {
font-family: 'Maison Neue Medium';
font-style: normal;
font-weight: normal;
src: local('Maison Neue Medium'), url('/assets/fonts/MaisonNeue-Medium.woff') format('woff');
}

@font-face {
font-family: 'Maison Neue Book';
font-style: normal;
font-weight: normal;
src: local('Maison Neue Book'), url('/assets/fonts/MaisonNeue-Book.woff') format('woff');
}

@font-face {
font-family: 'Maison Neue Bold';
font-style: normal;
font-weight: normal;
src: local('Maison Neue Bold'), url('/assets/fonts/MaisonNeue-Bold.woff') format('woff');
}

/* define stack */



/*------------------------------------*\
    # Type
\*------------------------------------*/


*, html, body {
    font-size: 14px;
    font-family: 'MaisonNeue-Bold', 'Inter UI', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    outline: none;
}



h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: black;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
}

h1 {
    font-family: 'MaisonNeue-Bold','Inter UI Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 48px;
    font-size: 72px;
    color: #000000;
    margin-bottom: 3rem;
}

h2 {
    font-family: 'MaisonNeue-Bold','Inter UI Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 48px;
    font-size: 36px;
    color: #000000;
}

h3 {

    font-family: 'Inter UI Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-style: normal;
    font-weight: bolder;
    line-height: 32px;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #4C67F2;
}

h4 {
    font-family: 'Inter UI Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 15px;
    color: #D3D6E5;
}

h5 {

}

h6 {
    font-family: 'MaisonNeue-Light','Inter UI Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    margin-left: 4px !important;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14px);
    color: #000000;
}


p {
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    font-size: 24px;
    color: #333333;
}

p.intro {
    font-family: 'MaisonNeue-Bold','Inter UI Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    font-size: 24px;
    color: #333333;
}

a {
    text-decoration: none;
}


hr {
    height: 1px;
    margin: $hr-margin 0;
    border: none;
    background-color: $border-color;
}


blockquote {
    text-align: center;
    font-style: normal !important;
}



table {
    width: 100%;

    border-collapse: collapse;
}

table, td, th {
    border: 1px solid $border-color;
    text-align: left;
}

th {
    font-weight: $font-weight-bold;
}

th, td {
    padding: 15px;
}



figure {

}

figcaption {
    margin-top: 10px;

}

ul {
    font-family: 'MaisonNeue-Bold', 'Inter UI', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #D3D6E5;
}

li {
    font-family: 'MaisonNeue-Light', 'Inter UI', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #D3D6E5;
}

pre {
    display: block;
    margin: 0 0 40px 0;
    padding: 20px;
    background-color: lighten($border-color, 12%);
    border: 1px solid $border-color;
    overflow: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

code {
    position: relative;
    top: -0.2em;
    padding: 3px;
    font-family: Courier New, Courier, monospace;
    color: darken($border-color, 40%);
    line-height: 1em;
    pointer-events: none;
    border: 1px solid $border-color;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


em, i, .italic {
    font-style: italic;
}

strong, b, .bold {
    font-weight: $font-weight-bold;
}

img {
    display: block;
    max-width: 100%;
}
