/*------------------------------------*    #UTILS - Color Variables
\*------------------------------------*/
.text-center {
  text-align: center !important; }

.center {
  margin: 0 auto !important; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-color: #fafafa; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

/*------------------------------------*    # Simple Typography Settings
\*------------------------------------*/
body {
  font-size: 14px; }
  @media (min-width: 800px) {
    body {
      font-size: 16px; } }

/*------------------------------------*    # Type
\*------------------------------------*/
*, html, body {
  font-size: 16px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 24px 0;
  color: #000000;
  line-height: 1.333em;
  font-weight: 400;
  text-align: left; }

h1 {
  font-size: 2rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 4.0625rem;
  font-size: 3rem;
  color: #000000; }
  @media (min-width: 800px) {
    h1 {
      font-size: 3rem; } }
  h1 span {
    color: #00C0BF; }

h2 {
  font-size: 2.30769rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 3.1875rem;
  font-size: 2.25rem;
  letter-spacing: 0.01em;
  text-align: center; }

h3 {
  font-size: 2rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 2.125rem;
  font-size: 1.5rem;
  letter-spacing: 0.02em;
  color: #263238; }

h4 {
  font-size: 1.76471rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 2.0625rem;
  font-size: 1.25rem; }

h5 {
  font-size: 1.66667rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 1.375rem;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.01em; }

h6 {
  font-size: 1.5rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #7B929E; }

p {
  margin-top: 20px;
  font-size: 1.0625rem;
  line-height: 1.5em;
  color: #505050; }
  p:first-of-type {
    margin-top: 0; }

a {
  color: #4eaff6;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  a:hover {
    color: #1d99f4; }

ul, ol {
  margin: 20px 0 0 20px; }
  ul li, ol li {
    margin-top: 10px;
    line-height: 1.5em;
    color: #505050; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0; }

ul li {
  list-style: none; }

ul ul li {
  list-style: none; }

ol li {
  list-style: none; }

hr {
  height: 1px;
  margin: 30px 0;
  border: none;
  background-color: #DADADA; }

blockquote {
  margin: 30px 0;
  font-size: 1.75rem;
  line-height: 1.5em;
  color: #212121;
  text-align: center;
  font-style: normal !important; }

table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse; }

table, td, th {
  border: 1px solid #DADADA;
  text-align: left; }

th {
  font-weight: 800; }

th, td {
  padding: 15px; }

figure {
  margin: 30px 0; }
  figure img {
    margin: 0; }

figcaption {
  margin-top: 10px;
  color: #6a6a6a;
  font-size: 16px; }

pre {
  display: block;
  margin: 0 0 40px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #DADADA;
  overflow: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  pre code {
    position: static;
    padding: 0;
    border: none;
    line-height: 1.5em; }

code {
  position: relative;
  top: -0.2em;
  padding: 3px;
  font-family: Courier New, Courier, monospace;
  font-size: 0.75893rem;
  color: #747474;
  line-height: 1em;
  pointer-events: none;
  border: 1px solid #DADADA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

em, i, .italic {
  font-style: italic; }

strong, b, .bold {
  font-weight: 800; }

img {
  display: block;
  max-width: 100%;
  margin: 30px 0; }

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-0 {
  margin-left: 0; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem; }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-0 {
    margin-left: 0; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem; }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-0 {
    margin-left: 0; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 75em) {
  .container {
    width: 76rem; }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-0 {
    margin-left: 0; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

.header {
  display: flex;
  position: fixed;
  background: 0;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0;
  z-index: 10;
  top: 0;
  left: 0;
  height: 90px; }
  .header ul {
    margin: 0;
    padding: 0; }
  .header li {
    display: inline;
    margin-left: 2em;
    font-size: 0.75em;
    text-transform: uppercase; }
    .header li a {
      color: white; }
      .header li a:hover {
        color: #0B132B; }
  .header__wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%; }
  .header__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo img {
      height: auto;
      width: auto;
      max-height: 60px;
      margin: 0; }
  .header__right {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    width: 100%; }
  .header--desktop {
    display: none; }
  .header--mobile {
    display: flex;
    max-width: 100vw; }
  @media (min-width: 800px) {
    .header {
      max-width: 100%;
      overflow: hidden; }
      .header__wrapper {
        padding: 0 1rem; }
      .header__right {
        display: flex; }
      .header--desktop {
        display: flex; }
      .header--mobile {
        display: none; } }

.footer {
  display: flex;
  flex-direction: column;
  background: 0;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 4rem;
  box-shadow: 0;
  z-index: 14;
  bottom: 0;
  margin: 0 auto;
  text-align: left;
  color: white;
  background: linear-gradient(54.13deg, #03D9CA 0%, #095FFA 91.67%); }
  .footer h2 {
    text-align: left; }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
  .footer__left {
    display: flex;
    flex-direction: row;
    font-size: 0.85em;
    color: #fff;
    flex: 1;
    width: 80%; }
  .footer__right {
    display: flex;
    padding-top: 1rem; }
    .footer__right a {
      opacity: 0.7; }
      .footer__right a img {
        height: 1.2em;
        width: auto;
        margin: 0 auto;
        margin-right: 2rem;
        margin-bottom: 1rem; }
      .footer__right a:hover {
        opacity: 1;
        transform: scale(1.1); }
  .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 6rem; }
    .footer-top img {
      max-height: 4rem;
      margin: 0;
      margin-bottom: 1rem; }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 2rem; }
  .footer__left {
    justify-content: flex-start; }
  .footer-container {
    width: 80%; }
  .footer-menu {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 1rem; }
    .footer-menu a {
      color: white;
      width: 25%;
      margin-right: 5rem; }
  .footer-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .footer ul {
    margin: 1.5rem 0; }
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap; }
  .footer-link {
    width: 10rem;
    margin-right: 2rem;
    text-align: left; }
  .footer-primary {
    flex: 2 !important; }
  .footer-secondary {
    flex: 1; }
  .footer-text {
    text-align: left;
    color: white; }
  @media (min-width: 800px) {
    .footer {
      flex-direction: column;
      justify-content: center;
      margin: 0 auto; }
      .footer__wrapper {
        flex-direction: row; }
      .footer__left {
        justify-content: flex-start; }
      .footer-top {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start; }
      .footer-bottom {
        flex-direction: row;
        justify-content: center;
        align-items: center; }
      .footer-menu {
        margin-top: 0rem; }
      .footer-link {
        width: 14rem; } }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 4rem auto; }
  form h5 {
    font-size: 1.25em; }
  @media (min-width: 800px) {
    form {
      width: 30%; } }

label {
  width: 100%; }

input, textarea, select, option {
  border: none;
  color: #0B132B;
  background: rgba(3, 217, 201, 0.1);
  width: 100%;
  padding: 1em;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 0;
  -webkit-appearance: none;
  border-radius: 0;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease; }
  input::placeholder, textarea::placeholder, select::placeholder, option::placeholder {
    color: rgba(11, 19, 43, 0.3); }
  input:focus, textarea:focus, select:focus, option:focus {
    background: 0;
    color: #03D9C9;
    border-bottom: 1px solid #03D9C9; }

input.btn {
  margin: 0; }

label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: #263238; }

input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #8099A6; }

label {
  font-size: 0.8em;
  color: #9EB2B5; }

input::active {
  border-bottom: 1px solid #03D9C9; }

input[type="submit"] {
  background: #03D9C9;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  color: #FFFFFF;
  text-align: left; }
  input[type="submit"]:hover {
    cursor: pointer;
    color: white;
    background: #03d4c4; }

.select__wrapper {
  position: relative; }
  .select__wrapper::after {
    content: '\25BE';
    top: 0rem;
    position: absolute;
    right: 1rem;
    top: 35%; }

.select {
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 0px; }
  .select option[value=""][disabled] {
    color: #9EB2B5; }

textarea {
  line-height: 1.8; }

#faqs {
  background: linear-gradient(295.37deg, #0286FF -33.37%, #03D9C9 100%);
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 4rem; }
  #faqs .toggle-inner {
    display: none; }
  #faqs .section {
    background: #ffffff;
    padding: 4rem 0;
    margin: 2rem auto;
    width: 100%; }
    #faqs .section__title, #faqs .section__brief {
      width: 70%;
      margin: 0 auto;
      padding: 0; }
    #faqs .section__title {
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      font-size: 2.5rem;
      margin: 1rem auto;
      color: #333333; }
    #faqs .section__brief {
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 1.5rem;
      color: #4F4F4F; }
  #faqs .faq {
    background: #ffffff;
    padding: 2rem 0;
    margin: 0 auto;
    padding-left: 0;
    width: 70%;
    border-bottom: 1px solid #fafafa;
    position: relative; }
    #faqs .faq .icon {
      position: absolute;
      width: 1.5rem;
      max-width: 2rem;
      height: 1.5rem;
      z-index: 2;
      right: 0%;
      margin-top: 2.5rem;
      transition: all 0.3s ease; }
      #faqs .faq .icon img {
        max-width: 100%; }
    #faqs .faq .icon-tilt {
      transform: rotate(180deg);
      transition: all 0.3s ease; }
    #faqs .faq:hover {
      cursor: pointer; }
    #faqs .faq .faq__title {
      color: #03D9C9; }
    #faqs .faq__title {
      /* What type of countries can you target? */
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 1.5rem;
      color: #333333;
      position: relative; }
    #faqs .faq .toggle-inner p {
      line-height: 1.618; }

a {
  transition: all 0.4s ease; }
  a:hover {
    cursor: pointer;
    transition: all 0.4s ease; }

button {
  border: none;
  transition: all 0.4s ease; }
  button:hover {
    cursor: pointer;
    transition: all 0.4s ease; }

.btn {
  margin: 1em;
  padding: 1em 2em;
  font-size: 0.85em;
  font-weight: 700;
  transition: all 0.4s ease; }

.btn-primary {
  background: #0286FF;
  box-shadow: 0px 2px 8px rgba(2, 134, 255, 0.5);
  border-radius: 4px;
  font-size: 1rem;
  max-width: 200px;
  padding: 1.25rem;
  margin-left: 0;
  color: white;
  transition: all 0.4s ease; }
  .btn-primary:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.04);
    box-shadow: 0 12px 20px 0 rgba(195, 198, 206, 0.16);
    box-shadow: 0 8px 32px 0 rgba(3, 217, 201, 0.39), 0 24px 48px 0 rgba(195, 198, 206, 0.16);
    transition: all 0.4s ease; }

.btn-secondary {
  background: white;
  border-radius: 2px;
  color: #9EB2B5;
  box-shadow: 0 4px 6px 0 rgba(195, 198, 206, 0.16); }
  .btn-secondary:hover {
    transform: scale(1.04);
    color: #03D9C9;
    box-shadow: 0 12px 20px 0 rgba(195, 198, 206, 0.16); }

.footer-primary {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: -0.01em;
  background: #FFFFFF;
  border-radius: 4px;
  color: #03D9C9;
  padding: 1rem 1.5rem;
  margin-right: 2rem;
  text-align: center;
  flex: 1; }
  .footer-primary:hover {
    transform: scale(1.04);
    color: #03D9C9;
    box-shadow: 0 12px 20px 0 rgba(195, 198, 206, 0.16); }

.footer-secondary {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: -0.01em;
  background: #0793E5;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
  padding: 1rem 1.5rem;
  flex: 1; }
  .footer-secondary:hover {
    transform: scale(1.04);
    color: #03D9C9;
    box-shadow: 0 12px 20px 0 rgba(195, 198, 206, 0.16); }

.header-cta {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5;
  font-size: 0.875rem;
  text-align: center;
  letter-spacing: -0.01em;
  background: #03D9C9;
  border-radius: 2px;
  box-shadow: 0px 4px 8px rgba(122, 108, 252, 0.25);
  padding: 0.75rem 1.5rem; }
  .header-cta:hover {
    transform: scale(1.04);
    color: white !important;
    box-shadow: 0 12px 24px 0 rgba(122, 108, 252, 0.4); }

.secondary-header-cta {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5;
  font-size: 0.875rem;
  text-align: center;
  letter-spacing: -0.01em;
  background: none;
  border-radius: 2px;
  border: 1px solid white;
  padding: 0.75rem 1.5rem; }
  .secondary-header-cta:hover {
    transform: scale(1.04);
    color: black !important;
    border: 1px solid black; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

html, body {
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  background: 0; }
  @media (min-width: 800px) {
    html, body {
      background: 0;
      font-size: 16px; } }

.hero {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  justify-content: center;
  align-items: center;
  background: 0;
  width: 100%;
  background: linear-gradient(-100deg, #03D8C9 0%, #5753FE 97%);
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  z-index: -2;
  z-index: 1;
  overflow: hidden; }
  .hero::after {
    display: none; }
  .hero__left {
    padding-bottom: 4rem;
    margin: 0 auto;
    max-width: 85%; }
    .hero__left h1,
    .hero__left h4 {
      text-align: center;
      color: white; }
    .hero__left h4 {
      font-size: 1.25rem;
      max-width: 100%; }
    .hero__left span {
      color: #03D9C9; }
  .hero-wrapper {
    z-index: 2;
    display: flex;
    flex-direction: column-reverse; }
  @media (min-width: 800px) {
    .hero {
      height: 100%;
      padding-top: 6rem;
      justify-content: center; }
      .hero::after {
        content: url("../assets/img/circles.svg");
        display: block;
        height: 100%;
        width: 100%;
        opacity: 1;
        position: fixed;
        z-index: -1;
        top: 0;
        right: -700px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: right; }
      .hero__left {
        padding-top: 4rem;
        padding-bottom: 0rem; }
        .hero__left h1,
        .hero__left h4 {
          text-align: left; }
      .hero-wrapper {
        flex-direction: row; } }

.about {
  display: flex;
  flex-direction: column;
  background: white; }
  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .about__content a {
      padding-bottom: 0.75rem;
      opacity: 0.75;
      border-bottom: 0.5px solid white;
      transition: all 0.2s ease; }
      .about__content a:hover {
        opacity: 1;
        border-bottom: 1px solid white;
        transition: all 0.2s ease; }
  .about video {
    margin: 2rem auto;
    border: 1px solid white;
    border-right: 2px solid white;
    box-shadow: 0px 16px 40px rgba(16, 71, 122, 0.25);
    width: 90%; }
    .about video:hover {
      cursor: pointer; }
  @media (min-width: 800px) {
    .about {
      max-width: 100%;
      overflow: hidden; }
      .about video {
        width: 70%; } }

.how {
  background: linear-gradient(295.37deg, #0286FF -33.37%, #03D9C9 100%); }
  .how h5 {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem; }
  .how h2, .how h3, .how h5, .how h6, .how p, .how a {
    color: white; }
  .how__content {
    justify-content: center; }
  .how img {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.075); }

.features {
  background: linear-gradient(115.54deg, #03D9C9 0%, #0A4FFF 108.68%);
  color: white; }
  .features-wrapper {
    width: 80%; }
  .features h2, .features h3, .features h6, .features h5 {
    color: white; }
  .features h5 {
    max-width: 50%;
    margin: 0 auto; }
  .features img {
    height: 24rem;
    box-shadow: none; }

.cta {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2em;
  justify-content: center;
  color: #03D9C9;
  background: white; }
  .cta:hover {
    color: white;
    background: #03D9C9;
    box-shadow: none; }
  .cta a {
    margin-left: 0;
    margin-right: 2em;
    text-align: center; }
  @media (min-width: 800px) {
    .cta {
      margin: 0;
      margin-top: 4em;
      flex-direction: row; } }

section {
  background: white;
  min-height: 100%;
  padding: 4rem 0; }

.padding-1 {
  padding: 0 1rem; }

.how__cards, .features__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.how__card, .features__card {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 6rem; }
  .how__card__text, .features__card__text {
    max-width: 85%;
    margin: 0 auto; }

.how h2, .how h5, .features h2, .features h5 {
  text-align: center; }

@media (min-width: 800px) {
  .how, .features {
    max-width: 100%;
    overflow: hidden; }
    .how__cards, .features__cards {
      flex-direction: row; }
    .how__card, .features__card {
      max-width: 30%; } }

.features__cards {
  flex-direction: row; }

.features__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 100%;
  margin: 0;
  margin-bottom: 0rem; }
  .features__card img {
    height: auto;
    width: 100%; }
  .features__card:first-of-type {
    margin-top: 0rem; }
  .features__card__media {
    width: 90%; }
  .features__card__text {
    width: 90%;
    margin: 1rem 2rem;
    margin-bottom: 5rem; }
  @media (min-width: 800px) {
    .features__card {
      flex-direction: row-reverse;
      margin: 0 auto; }
      .features__card__text {
        width: 55%;
        margin: 1rem 2rem;
        margin-bottom: 5rem; } }

.testimonials__cards {
  flex-direction: row; }

.testimonials__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  background: #FFFFFF;
  padding: 2rem 1rem;
  box-shadow: 0px 32px 30px rgba(0, 0, 0, 0.025);
  border-radius: 2px;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 2rem 2.5rem; }
  .testimonials__card img {
    height: auto;
    width: 15%;
    box-shadow: none; }
  @media (min-width: 800px) {
    .testimonials__card {
      flex-direction: column;
      margin: 0 auto;
      margin-bottom: 0rem;
      max-width: 30%; }
      .testimonials__card__text {
        width: 55%;
        margin: 1rem 2rem;
        margin-bottom: 5rem; } }

.testimonials__quote {
  font-weight: bold;
  line-height: 1.6875rem;
  font-size: 1.125rem;
  text-align: left;
  letter-spacing: 0.01em;
  color: #152859;
  flex: 3; }

.testimonials__details {
  text-align: left;
  flex: 1; }

.testimonials__person {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
  flex: 1;
  margin: 2rem auto; }
  .testimonials__person img {
    border-radius: 50px;
    height: auto;
    width: 3rem;
    margin: 0;
    margin-right: 1rem; }

.testimonials__brand {
  flex: 1;
  border-top: 1px solid #fafafa;
  padding-top: 2rem; }
  .testimonials__brand img {
    width: auto;
    max-height: 2rem;
    margin: 0; }

.laptop {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 1em;
  width: 100%;
  height: 100%; }
  .laptop img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    margin: 0 auto;
    margin-top: 2em; }
  @media (min-width: 800px) {
    .laptop img {
      height: auto;
      width: auto;
      max-width: 100%;
      max-height: 100%; } }
  @media (min-width: 1000px) {
    .laptop img {
      max-width: 105%;
      max-height: 105%; } }

.half {
  width: 100%; }
  .half--left {
    background: #0B132B;
    width: 100%; }
  .half--right {
    height: 100%;
    overflow-y: hidden;
    width: 100%; }
  @media (min-width: 800px) {
    .half {
      width: 50%; }
      .half--left {
        background: #0B132B; }
      .half--right {
        height: 100vh;
        overflow-y: hidden; } }

.careers {
  width: 98vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left; }
  .careers__content {
    padding-top: 2rem; }
  .careers h6 {
    font-size: 0.85rem;
    text-align: left;
    margin-bottom: 0;
    color: #03D9C9; }
  .careers h2 {
    font-size: 1.875rem;
    color: white;
    text-align: left;
    margin: 0 0 1em; }
  .careers h5 {
    font-size: 1.25rem;
    font-weight: 100;
    color: white;
    text-align: left; }
  .careers p {
    color: #cccccc;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 1px; }
  .careers p.lead {
    color: #03D9C9; }
  @media (min-width: 800px) {
    .careers {
      display: flex;
      flex-direction: row; }
      .careers__content {
        padding-top: 8rem; } }

.mail-heading {
  color: #0B132B !important;
  margin: 0.25em 0em 1em !important; }

.founder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4rem 0rem 2rem; }
  .founder-image {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
    .founder-image img {
      margin: 0; }
    .founder-image span {
      margin: 0 auto;
      font-size: 0.85rem;
      letter-spacing: 4px;
      text-align: center;
      padding: 0.5rem 2rem;
      background: #03D9C9; }
  .founder-details h6 {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #cccccc; }
  @media (min-width: 800px) {
    .founder {
      display: flex;
      flex-direction: row; }
      .founder-image {
        margin-right: 2rem;
        padding-left: 0.6rem; } }

.dark {
  color: #0B132B !important; }
  .dark:hover {
    color: #03D9C9 !important; }
