.half {
	width: 100%;
	&--left {
		background: $dark-blue;
		width: 100%;
	}
	&--right {
		height: 100%;
		overflow-y: hidden;
		width: 100%;
	}
	@include respond-to('medium') {
	width: 50%;	
		&--left {
			background: $dark-blue;
		}
		&--right {
			height: 100vh;
			overflow-y: hidden;
		}	
	}
}

.careers {
	width: 98vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: left;
	&__content {
		padding-top: 2rem;
	}
	h6 {
		font-size: 0.85rem;
		text-align: left;
		margin-bottom: 0;
		color: $brand-primary;
	}
	h2 {
		font-size: rem(30px);
		color: white;
		text-align: left;
		margin: 0 0 1em;
	}
	h5 {
		font-size: rem(20px);
		font-weight: 100;
		color: white;
		text-align: left;
	}
	p {
		color: darken(white, 20%);
		font-weight: 100;
		line-height: 1.5;
		letter-spacing: 1px;
	}

	p.lead {
		color: $brand-primary;
	}

	@include respond-to('medium') {
		display: flex;
		flex-direction: row;
		&__content {
			padding-top: 8rem;
		}
	}
}

.mail-heading {
	color: $dark-blue !important;
	margin: 0.25em 0em 1em !important;
}

.founder {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 4rem 0rem 2rem;
	&-image {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem; 
		img {
			margin: 0;
		}
		span {
			margin: 0 auto;
			font-size: 0.85rem;
			letter-spacing: 4px;
			text-align: center;
			padding: 0.5rem 2rem;
			background: $brand-primary;
		}
	}
	&-details {
		h6 {
			margin-bottom: 1rem;
			font-size: 1rem;
			line-height: 1.5;
			color: darken(white,20%);
		}

	}
	@include respond-to('medium') {
		display: flex;
		flex-direction: row;
		&-image {
			margin-right: 2rem;
			padding-left: 0.6rem;
		}
	}	
}

.dark {
	color: $dark-blue !important;
	&:hover {
		color: $brand-primary !important;
	}
}