html,body {
	height: 100%;
	width: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 12px;
	background: 0;
	// overflow-x: hidden;
	@include respond-to('medium') {
		background: 0;
		font-size: 16px;
	}
}
.hero {
	display: flex;
	flex-direction:  column;
	padding-top: 7rem;
	justify-content: center;
	align-items: center;
	background: 0;
	width: 100%;

	z-index: 1;
	overflow: hidden;
	&::after {
		display: none;
	}
	&__left {
		padding-top: 4rem;
		margin: 0 auto;

		h1,
		h4 {
			text-align: center;
		}
		span {
			color: $brand-primary;
		}
	}
	&-wrapper {
		z-index: 2;
		display: flex;
		flex-direction: column-reverse;
	}
	@include respond-to('medium') {
		height: 100%;
		padding-top: 6rem;
		justify-content: center;
		&::after {
			content: url('../assets/bg-overlay.png');
			display: block;
			height: 100%;
			width: 100%;
			position: fixed;
			z-index: -1;
			top:0;
			right: -700px;
			overflow: hidden;
	  		background-repeat: no-repeat;
	  		background-position: right;
		}
		&__left {
			h1,
			h4 {
				text-align: left;
			}
		}
		&-wrapper {
			flex-direction: row;
		}
	}
}

.about {
	display: flex;
	flex-direction: column;
	background: $primary-gradient;
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2, h5, a{
			color: white;
		}
		a {
			padding-bottom: 0.75rem;
			opacity: 0.75;
			border-bottom: 0.5px solid white;
			transition: all 0.2s ease;
			&:hover {
				opacity: 1;
				border-bottom: 1px solid white;
				transition: all 0.2s ease;
			}
		}
	}
	video {
		margin: 2rem auto;
		border: 1px solid white;
		border-right: 2px solid white;
		box-shadow: 0px 16px 40px rgba(16, 71, 122, 0.25);
		width: 90%;
		&:hover {
			cursor: pointer;
		}
	}
  	@include respond-to('medium') {
	  	max-width: 100%;
		overflow: hidden;
		video {
			width: 70%;
		}
  	}
}

.how {
	h5 {
		max-width: 60%;
		margin: 0 auto;
		margin-bottom: 2rem;
	}
	img {
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.075);
	}
}

.features {
	background: linear-gradient(115.54deg, #03D9C9 0%, #0A4FFF 108.68%);
	color: white;
	&-wrapper {
		width: 80%;
	}
	h2,h3,h6,h5 {
		color: white;
	}
	h5 {
		max-width: 50%;
		margin: 0 auto;
	}
	img {
		height: 24rem;
		box-shadow: none;
	}
}
.cta {
		display: flex;
		flex-direction: column;
		margin-top: 2em;
		a {
			margin-left: 0;
			margin-right: 2em;
		}
		@include respond-to('medium') {
			flex-direction: row;
	}	
}

section {
	background: white;
	min-height: 100%;
	padding: 4rem 0;
}

.padding-1 {
	padding: 0 1rem;
}

.signUp {

}

.how, .features {

	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__card {
		max-width: 80%;
		margin: 0 auto;
		margin-bottom: 6rem;
		&__text {
			max-width: 85%;
			margin: 0 auto;
		}
	}
  	@include respond-to('medium') {
	  	max-width: 100%;
		overflow: hidden;
		&__cards {
			flex-direction: row;
		}
	    &__card {
	      max-width: 30%;
	    }
  	}
}

.features {
	&__card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		max-width: 100%;
		margin: 0;
		margin-bottom: 0rem;
		img {
			height: auto;
			width: 100%;
		}	
		&:first-of-type {
			margin-top: 0rem;
		}
		&__media {
			width: 90%;
		}
		&__text {
			width: 90%;
			margin: 1rem 2rem ;
			margin-bottom: 5rem;
		}
		@include respond-to('medium') {
			flex-direction: row-reverse;
			margin: 0 auto;
			&__text {
				width: 55%;
				margin: 1rem 2rem ;
				margin-bottom: 5rem;
			}
		}	
	}
}

.laptop {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 1em;
	width: 100%;
	height: 100%;
	
	img {
	    height: auto; 
	    width: auto; 
	    max-width: 300px; 
	    max-height: 300px;
	    margin: 0 auto;
	    margin: 0 auto;
	    margin-top: 2em;
	}

	@include respond-to('medium') {
			img {
			    height: auto; 
			    width: auto; 
			    max-width: 100%; 
			    max-height: 100%;
			}
	}
	@include respond-to('large') {
			img {
				max-width: 105%; 
			    max-height: 105%;
			    
			}
	}
}
