/*
Error: Undefined variable: "$green".
        on line 35 of sass/base/_base.scss
        from line 13 of sass/main.scss

Backtrace:
sass/base/_base.scss:35
sass/main.scss:13
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `map'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:294:in `watch'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/plugin.rb:109:in `method_missing'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/home/hardik/.rvm/gems/ruby-2.1.5/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/home/hardik/.rvm/gems/ruby-2.1.5/bin/sass:22:in `load'
/home/hardik/.rvm/gems/ruby-2.1.5/bin/sass:22:in `<main>'
/home/hardik/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `eval'
/home/hardik/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$green\".\A         on line 35 of sass/base/_base.scss\A         from line 13 of sass/main.scss"; }
